/* Reset */
h1,h2,h3,h4,h5,p{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin: 0;
}

.font{
  font-family: 'SquareFont', cursive;
}

/* Reutilizaveis */

.box-shadow{
  box-shadow:
  0 0 5px #fff,
  0 0 5px #fff,
  0 0 5px #fff,
  0 0 10px #d70a84,
  0 0 15px #d70a84,
  0 0 10px #d70a84,
  0 0 152px #d70a84,
  0 0 15px #d70a84;
}

#line{
  background-color: white;
  height: 1px;
  width: 287px;
}

.btn-reset{
  background: none;
  color: white;
  border: none;
}

.pink{
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f200ff,
      0 0 82px #f200ff,
      0 0 92px #f200ff,
      0 0 102px #f200ff,
      0 0 151px #f200ff;
      animation: flicker 1s infinite alternate;
}

.pink-solo{
  color: #fff;
  text-shadow:
      0 0 20px #fff,
      0 0 6px #f200ff,
      0 0 7px #f200ff,
      0 0 50px #f200ff;
      animation: flickerlight 1s infinite alternate;
}


.text-nav{
  font-size: 0.7rem;
}

.text-neon{
  font-family: 'Great Vibes', cursive;
}

@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 40px #f200ff,
      0 0 80px #f200ff,
      0 0 90px #f200ff,
      0 0 100px #f200ff,
      0 0 150px #f200ff;

  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}
/* Cabeçaralho */
/* Cabeçaralho */
header{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-image: url('images/bio2.png');
  background-size:cover;
  text-align: center;
  /* background: rgb(215,10,132);
  background: linear-gradient(180deg, rgba(215,10,132,1) 0%, rgba(81,18,127,1) 100%); */
}

.texts-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin-left: 50px;
}

.line{
  height: 3px;
  width: 40%;
  background-color: black;
}

.line2{
  height: 300px;
  width: 2px;
  background-color: #d70a84;
}

.line3{
  display: flex;
  height: 2px;
  width: 50%;
  background-color: #d70a84;
}

/* Nav */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: black;
}

#nav{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

#social{
  display: flex;
  justify-content: space-around;
  width: 6%;
}
.btn-nav{
  background: none;
  border: none;
  color: #d70a84;
  font-family: 'SquareFont';
  font-size: 1.5rem;
}

.more{
  display: flex;
  background: none;
  padding: 0px;
  margin: 0px;
  font-family: 'SquareFont';
  border: none;
  font-size: 1.5rem;
  width: 150px;
}

/* Contato */
#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: 20px;

}

#redes{
  display: flex;
  margin-top: 30px;

}

.rede-reset{
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #d70a84;

}

.text{
  display: flex;
  transition: 0.5s;
  font-size: 0;
  color: #d70a84;
}







/* Animação */

.social-icon:hover{
  fill: white;
  transition: 0.4s;
}

.font-glitch:hover{
  animation: glitch 500ms;
  text-shadow: 1px 2px #f200ff, -1px -3px green;
}

@keyframes glitch {
  0%{
    transform: translateY(-4px);
    color: red;
  }

  1%{
    transform: translateY(3px);
    transform: translateX(3px);
    color: #4551ff;
    text-shadow: 1px 2px green, -1px -3px #f200ff;
  }

  2%{
    transform: translateY(-3px);
    transform: translateX(-3px);
    color: #4551ff;
    text-shadow: 1px 2px #f200ff, -1px -3px green;
  }

  3%{
    transform: translateY(-5px);
    transform: translateX(5px);
    color: red;
    text-shadow:
        0 0 7px #fff,
        0 0 42px #f200ff,
        0 0 82px #f200ff,
        0 0 92px #f200ff,
        0 0 102px #f200ff,
        0 0 151px #f200ff;
  }

  4%{
    transform: translateY(3px);
    transform: translateX(3px);
    color: #4551ff;

  }

  5%{
    transform: translateY(0);
    transform: translateX(0);
    color: #f200ff;


  }

  100%{
    transform: translateY(0);
    transform: translateX(0);
    color: white;

  }
}
